---
import ContentStatus from "@components/content/ContentStatus.astro";
import RelativeDate from "@components/ui/RelativeDate.astro";
import TopicList from "@components/content/topics/TopicList.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

export interface Props {
  content: CollectionEntry<"notes">;
  compact?: boolean;
}

const { content, compact = false } = Astro.props;
const { remarkPluginFrontmatter } = await render(content);
---

<div class="text-sm text-stone-500 font-sans">
  <span><ContentStatus status={content.data.status} /></span>

  <span class="mx-0.5">•</span>

  <span>
    Revisited <RelativeDate date={content.data.updatedAt} />
  </span>

  {
    !compact && (
      <>
        <span class="mx-0.5">•</span>
        <span>
          Created <RelativeDate date={content.data.createdAt} />
        </span>
      </>
    )
  }

  {
    !compact && content.data.topics && content.data.topics.length > 0 && (
      <>
        <span class="mx-0.5">•</span>
        <TopicList topics={content.data.topics} />
      </>
    )
  }

  {
    !compact && (
      <>
        <span class="mx-0.5">•</span>
        <span>
          {remarkPluginFrontmatter.readingTime}
          {remarkPluginFrontmatter.readingTime != 1 ? "mins" : "min"} read
        </span>
      </>
    )
  }
</div>
