---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ArrowLink from "@components/ui/ArrowLink.astro";
import { render } from "astro:content";
import { getMdxComponents } from "src/lib/rendering";
import Prose from "@components/ui/Prose.astro";
import TopicMeta from "@components/garden/topics/TopicMeta.astro";
import ContentGrid from "@components/garden/GardenEntriesGrid.astro";
import { getRelatedGardenEntries } from "src/lib/garden";

export async function getStaticPaths() {
  const topics = await getCollection("topics");

  return topics.map((topic) => ({
    params: { id: topic.id },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const { Content } = await render(topic);
const relatedContent = await getRelatedGardenEntries(topic);
---

<title slot="head">{topic.data.title} | Alessandro Desantis</title>

<Layout>
  <div class="max-w-3xl mx-auto">
    <div class="mb-4">
      <ArrowLink href="/topics" arrowDirection="left" class="font-sans font-semibold uppercase" slot="navigation">
        Topics
      </ArrowLink>

      <h1 class="text-4xl font-semibold font-sans mt-2 mb-1">
        {topic.data.title}
      </h1>

      <div class="mb-2">
        <TopicMeta content={topic} />
      </div>
    </div>

    <Prose>
      <Content components={getMdxComponents()} />
    </Prose>
  </div>

  {
    relatedContent.length > 0 && (
      <div class="mt-12">
        <ContentGrid items={relatedContent} itemSize="M" />
      </div>
    )
  }
</Layout>
