---
import Link from "@components/ui/Link.astro";
import Collapsible from "@components/ui/Collapsible.astro";
import type { Link as LinkType } from "src/lib/links";
import { buildContentEntryUrl } from "src/lib/plugins/remarkWikiLink.mjs";
import LinkList from "@components/ui/LinkList.astro";

interface Props {
  outboundLinks: LinkType[];
  inboundLinks: LinkType[];
}

const { outboundLinks, inboundLinks } = Astro.props;

const hasLinks = outboundLinks.length > 0 || inboundLinks.length > 0;

if (!hasLinks) {
  return null;
}
---

<div class="mt-8 mb-8 lg:hidden space-y-4">
  {
    outboundLinks.length > 0 && (
      <Collapsible label="Links to">
        <LinkList>
          {outboundLinks.map((link: LinkType) => (
            <li>
              <Link
                class="font-sans"
                href={buildContentEntryUrl({
                  contentType: link.contentType,
                  slug: link.slug,
                })}
              >
                {link.title}
              </Link>
            </li>
          ))}
        </LinkList>
      </Collapsible>
    )
  }

  {
    inboundLinks.length > 0 && (
      <Collapsible label="Linked from">
        <LinkList>
          {inboundLinks.map((link: LinkType) => (
            <li>
              <Link
                class="font-sans"
                href={buildContentEntryUrl({
                  contentType: link.contentType,
                  slug: link.slug,
                })}
              >
                {link.title}
              </Link>
            </li>
          ))}
        </LinkList>
      </Collapsible>
    )
  }
</div>

<div class="hidden lg:block">
  {
    outboundLinks.length > 0 && (
      <div class="mb-6">
        <div class="text-xl font-semibold font-sans">Links to</div>
        <LinkList>
          {outboundLinks.map((link: LinkType) => (
            <li>
              <Link class="font-sans" href={buildContentEntryUrl(link)}>
                {link.title}
              </Link>
            </li>
          ))}
        </LinkList>
      </div>
    )
  }

  {
    inboundLinks.length > 0 && (
      <div class="mb-6">
        <div class="text-xl font-semibold font-sans">Linked from</div>
        <LinkList>
          {inboundLinks.map((link: LinkType) => (
            <li>
              <Link
                class="font-sans"
                href={buildContentEntryUrl({
                  contentType: link.contentType,
                  slug: link.slug,
                })}
              >
                {link.title}
              </Link>
            </li>
          ))}
        </LinkList>
      </div>
    )
  }
</div>
