---
import GardenFilterDropdown from "./GardenFilterDropdown.astro";
import type { GardenEntry } from "src/lib/garden/entries";
import type { FilterConfig } from "src/lib/garden/filters";

interface Props {
  items: GardenEntry[];
  itemSize: "S" | "M" | "L";
  filters?: FilterConfig[];
  layoutType?: "grid" | "masonry";
}

const { items: entries, itemSize, filters = [], layoutType = "grid" } = Astro.props;

function getGridColumnsForSize(size: "S" | "M" | "L"): string {
  switch (size) {
    case "S":
      return "grid-cols-1 sm:grid-cols-2 lg:grid-cols-4";
    case "M":
      return "grid-cols-1 sm:grid-cols-2 lg:grid-cols-3";
    case "L":
      return "grid-cols-1 sm:grid-cols-2 lg:grid-cols-2";
  }
}

function getMasonryColumnsForSize(size: "S" | "M" | "L"): string {
  switch (size) {
    case "S":
      return "columns-1 sm:columns-2 lg:columns-4";
    case "M":
      return "columns-1 sm:columns-2 lg:columns-3";
    case "L":
      return "columns-1 sm:columns-2 lg:columns-2";
  }
}

function buildFilterableValues(item: GardenEntry): Record<string, string | string[]> {
  const values: Record<string, string | string[]> = {};

  filters.forEach((filter) => {
    const value = filter.extractor(item);
    values[filter.category] = value;
  });

  return values;
}
---

<div
  data-controller="garden-entries-grid"
  data-garden-entries-grid-filter-categories-value={JSON.stringify(filters.map((filter) => filter.category))}
  class="space-y-4"
>
  {
    filters.length > 0 && (
      <div class="flex gap-2">
        {filters.map((filter) => (
          <GardenFilterDropdown label={filter.label} filterCategory={filter.category} items={filter.items} />
        ))}
      </div>
    )
  }

  <div
    data-garden-entries-grid-target="grid"
    class={layoutType === "grid"
      ? `grid ${getGridColumnsForSize(itemSize)} gap-4`
      : `columns ${getMasonryColumnsForSize(itemSize)} gap-4 [column-fill:balance]`}
  >
    {
      entries.length > 0 ? (
        entries.map((item) => {
          return (
            <div
              class={layoutType === "grid" ? "mb-4" : "mb-4 break-inside-avoid"}
              data-filterable-values={JSON.stringify(buildFilterableValues(item))}
              data-garden-entries-grid-target="item"
              data-controller="garden-lazy-card"
              data-garden-lazy-card-entry-id-value={item.id}
              data-garden-lazy-card-entry-collection-value={item.collection}
            />
          );
        })
      ) : (
        <p>Nothing here yet! Check back soon.</p>
      )
    }
  </div>
</div>
