---
import Checkbox from "../../ui/Checkbox.astro";

interface Props {
  id: string;
  label: string;
  filterCategory: string;
  isAll?: boolean;
}

const { id, label, filterCategory, isAll = false } = Astro.props;
---

<label
  class="group flex items-center gap-2 px-3 py-1.5 cursor-pointer transition-colors duration-200 whitespace-nowrap"
>
  <Checkbox
    id={id}
    checked={isAll}
    data-action="change->garden-entries-grid#filter"
    data-filter-category={filterCategory}
    data-filter-type={id}
    data-garden-entries-grid-target={isAll ? "allCheckbox" : "checkbox"}
  />
  <span class="text-xs group-hover:text-orange-500">{label}</span>
</label>
