---
import Link from "@components/ui/Link.astro";
import type { CollectionEntry } from "astro:content";
import BookCover from "@components/books/BookCover.astro";
import BookMeta from "@components/books/BookMeta.astro";
import Card from "@components/ui/Card.astro";

export interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
---

<Card>
  <div slot="cover">
    <Link href={`/books/${book.id}`}>
      <BookCover book={book} class="object-cover object-top w-full" />
    </Link>
  </div>

  <Link href={`/books/${book.id}`}>
    <h3 class="mt-2 text-lg font-sans">{book.data.title}</h3>
  </Link>

  <BookMeta book={book} />
</Card>
