---
import Link from "@components/ui/Link.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { fetchBookCover } from "src/lib/utils";

export interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
const cover = await fetchBookCover(book);
---

<div>
  <Link href={`/books/${book.id}`}>
    {
      cover && (
        <Image
          src={cover.default}
          alt={`${book.data.title} cover`}
          inferSize={true}
          class="max-h-[400px] w-auto"
        />
      )
    }
    <h3 class="mt-2 text-lg font-sans">{book.data.title}</h3>
  </Link>

  <div class="font-sans text-sm text-stone-700">{book.data.author}</div>
</div>
