---
import Link from "@components/ui/Link.astro";
import SectionHeading from "@components/ui/sections/SectionHeading.astro";
import Section from "@components/ui/sections/Section.astro";
import EssayCard from "@components/garden/essays/EssayCard.astro";
import Layout from "@layouts/Layout.astro";
import ArrowLink from "@components/ui/ArrowLink.astro";
import BookCard from "@components/garden/books/BookCard.astro";
import { getSortedBooks } from "src/lib/garden/books";
import { getSortedNotes } from "src/lib/garden/notes";
import NoteCard from "@components/garden/notes/NoteCard.astro";
import sections from "src/data/sections.json";
import { getSortedEssays } from "src/lib/garden/essays";

const essays = (await getSortedEssays()).slice(0, 6);
const notes = (await getSortedNotes()).slice(0, 6);
const books = (await getSortedBooks()).slice(0, 6);
---

<Layout>
  <title slot="head">Alessandro Desantis</title>

  <div class="space-y-12">
    <div class="space-y-6">
      <p class="font-serif text-3xl lg:text-5xl">
        <span class="animate-wave inline-block">👋</span>, I’m <span
          class="font-bold">Alessandro</span
        >&mdash;a <Link href="/topics/writing">writer</Link>,
        <Link href="/topics/software-engineering">engineer</Link>, and
        <Link href="/topics/strategy">strategist</Link> based in Rome, Italy.
      </p>
      <p class="text-stone-700 font-serif text-xl">
        Currently, I am a Partner at
        <Link href="https://nebulab.com">Nebulab</Link>, an international
        <Link href="/topics/consulting">consultancy</Link> working with mid-market
        and enterprise consumer brands to design, launch, and scale their digital
        <Link href="/topics/commerce">commerce</Link> experiences.
      </p>
    </div>

    <hr />

    {
      essays.length > 0 && (
        <Section>
          <div slot="heading">
            <SectionHeading
              title="Essays"
              subtitle={sections.essays.description}
            />

            <div class="mt-2 font-sans">
              <ArrowLink class="text-sm" href="/essays" arrowDirection="right">
                View all
              </ArrowLink>
            </div>
          </div>

          <div class="grid lg:grid-cols-2 gap-4">
            {essays.map((essay) => (
              <EssayCard essay={essay} />
            ))}
          </div>
        </Section>
      )
    }

    <Section>
      <div slot="heading">
        <SectionHeading title="Notes" subtitle={sections.notes.description} />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/notes" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="grid lg:grid-cols-2 gap-4">
        {notes.map((note) => <NoteCard note={note} />)}
      </div>
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading title="Books" subtitle={sections.books.description} />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/books" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {books.map((book) => <BookCard book={book} />)}
      </div>
    </Section>
  </div>
</Layout>
