---
import Link from "@components/ui/Link.astro";
import SectionHeading from "@components/ui/sections/SectionHeading.astro";
import Section from "@components/ui/sections/Section.astro";
import Layout from "@layouts/Layout.astro";
import ArrowLink from "@components/ui/ArrowLink.astro";
import { getEntries } from "src/lib/garden/entries";
import sections from "src/data/sections.json";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";

const essays = (await getEntries(["essays"])).slice(0, 6);
const notes = (await getEntries(["notes"])).slice(0, 6);
const books = (await getEntries(["books"])).slice(0, 6);
const recipes = (await getEntries(["recipes"])).slice(0, 4);
---

<Layout>
  <title slot="head">Alessandro Desantis</title>

  <div class="space-y-12">
    <div class="space-y-6">
      <p class="font-serif text-3xl lg:text-5xl">
        <span class="animate-wave inline-block">👋</span>, I'm <span class="font-bold">Alessandro</span>&mdash;a <Link
          href="/topics/writing">writer</Link
        >,
        <Link href="/topics/software-engineering">engineer</Link>, and
        <Link href="/topics/strategy">strategist</Link> based in Rome, Italy.
      </p>
      <p class="text-stone-700 font-serif text-xl">
        Currently, I am a Partner at
        <Link href="https://nebulab.com">Nebulab</Link>, an international
        <Link href="/topics/consulting">consultancy</Link> working with mid-market and enterprise consumer brands to design,
        launch, and scale their digital
        <Link href="/topics/commerce">commerce</Link> experiences.
      </p>
    </div>

    <hr class="border-gray-200" />

    {
      essays.length > 0 && (
        <Section>
          <div slot="heading">
            <SectionHeading title="Essays" subtitle={sections.essays.description} />

            <div class="mt-2 font-sans">
              <ArrowLink class="text-sm" href="/essays" arrowDirection="right">
                View all
              </ArrowLink>
            </div>
          </div>

          <GardenEntriesGrid items={essays} itemSize="L" layoutType="masonry" />
        </Section>
      )
    }

    <Section>
      <div slot="heading">
        <SectionHeading title="Notes" subtitle={sections.notes.description} />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/notes" arrowDirection="right"> View all </ArrowLink>
        </div>
      </div>

      <GardenEntriesGrid items={notes} itemSize="L" layoutType="masonry" />
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading title="Books" subtitle={sections.books.description} />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/books" arrowDirection="right"> View all </ArrowLink>
        </div>
      </div>

      <GardenEntriesGrid items={books} itemSize="M" layoutType="masonry" />
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading title="Recipes" subtitle={sections.recipes.description} />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/recipes" arrowDirection="right"> View all </ArrowLink>
        </div>
      </div>

      <GardenEntriesGrid items={recipes} itemSize="L" layoutType="masonry" />
    </Section>
  </div>
</Layout>
