---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";
import BookCover from "@components/garden/books/BookCover.astro";
import ContentSidebar from "@components/garden/GardenEntrySidebar.astro";
import ContentLayout from "@components/garden/GardenEntryDetail.astro";
import BookMeta from "@components/garden/books/BookMeta.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { id: book.id },
    props: { book },
  }));
}

const { book } = Astro.props;
---

<title slot="head">{book.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentLayout entry={book}>
    <ArrowLink
      href="/books"
      arrowDirection="left"
      class="font-sans font-semibold uppercase"
      slot="navigation"
    >
      Books
    </ArrowLink>

    <BookMeta content={book} slot="meta" />

    <ContentSidebar entry={book} slot="sidebar">
      <BookCover
        book={book}
        class="w-full max-w-[250px] lg:max-w-full h-auto aspect-[2/3] rounded mt-4 lg:mt-0"
      />
    </ContentSidebar>
  </ContentLayout>
</Layout>
