---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { getEntries } from "src/lib/garden/garden";
import type { GardenEntry } from "src/lib/garden/garden";
import Link from "@components/ui/Link.astro";
import ContentLayout from "@components/garden/GardenEntryDetail.astro";

export async function getStaticPaths() {
  const nows = await getCollection("nows");

  return nows.map((now) => ({
    params: { id: now.id },
    props: { now },
  }));
}

const { now } = Astro.props;

const allNows = await getEntries(["nows"]);
const currentIndex = allNows.findIndex((item: GardenEntry) => item.id === now.id);
const prevNow = currentIndex < allNows.length - 1 ? allNows[currentIndex + 1] : null;
const nextNow = currentIndex > 0 ? allNows[currentIndex - 1] : null;
---

<title slot="head">{now.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentLayout entry={now}>
    <div class="flex justify-between max-w-[65ch]" slot="navigation">
      {
        prevNow ? (
          <Link href={`/now/${prevNow.id}`} class="font-sans">
            &LeftArrow;
            {prevNow.data.title}
          </Link>
        ) : (
          <div />
        )
      }

      {
        nextNow && (
          <Link href={`/now/${nextNow.id}`} class="font-sans">
            {nextNow.data.title}
            &RightArrow;
          </Link>
        )
      }
    </div>
  </ContentLayout>
</Layout>
