<div class="bg-dark text-white py-3 border-bottom">
  <div class="text-center col-xl-4 p-lg-5 mx-auto my-3" style="max-width: 750px">
    <img src="/images/avatar.png" class="mb-4" width="200" style="border-radius: 50%">

    <h1 class="display-4 font-weight-normal pb-3">Hey, I'm Alessandro.</h1>

    <p class="lead font-weight-normal" style="opacity: .9">
      I am a software developer and engineering manager based in Rome, Italy. I have a knack for
      eCommerce, API design and building happy, effective development teams.
    </p>

    <p class="lead font-weight-normal" style="opacity: .9">
      Currently, I am a technical advisor to several companies and I'm disrupting the
      intelligence industry as a co-founder of
      <a href="https://dominasistemi.it" style="color: rgb(232, 40, 41)">Domina</a>.
    </p>
  </div>
</div>

<div class="my-5 py-5">
  <div class="container">
    <div class="text-center mb-4 mx-auto" style="max-width: 750px">
      <h2 class="display-5">I make software.</h2>
      <p class="lead">
        I strongly believe OSS to be a gift, so I am committed to giving back to the software
        community. These are my most interesting projects.
      </p>
    </div>

    <div class="row justify-content-center">
      <% data.oss.projects.each do |project| %>
        <div class="col-md-6 col-lg-4">
          <div class="card my-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title font-weight-bold">
                  <img class="mr-1" src="/images/languages/<%= project.language %>.svg" class="img-fluid" style="height: 15px">
                  <%= project.name %>
                </h5>

                <% if project.wip %>
                  <div>
                    <span class="badge badge-warning">WIP</span>
                  </div>
                <% end %>
              </div>

              <p class="card-text">
                <%= project.description %>
              </p>

              <a href="https://github.com/<%= project.github %>" class="btn btn-dark">
                <i class="fab fa-github fa-fw"></i>
                <%= project.github %>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="photography-cover">
  <div class="container-fluid text-white">
    <div class="photography-inner">
      <h2 class="display-4 font-weight-bold">I take pictures.</h2>
      <p class="lead">
        Our lives are made and broken by powerful moments. I try to capture, preserve
        and show the meaning in those fleeting instants.
      </p>
      <p class="lead">
        A picture is only worth one word. The right one.
      </p>
      <p>
        <a href="https://500px.com/<%= data.social.fivehundredpx %>" class="btn btn-lg btn-light">
          <i class="fab fa-500px"></i>
          See more on 500px
        </a>
      </p>
      <p>
        <small>
          The cover photograph is
          “<a href="https://500px.com/photo/116575803/reunion-by-alessandro-desantis?ctx_page=1&from=user&user_id=618700" class="text-white">Reunion</a>”
          (Rome, 2015).
        </small>
      </p>
    </div>
  </div>
</div>

<div class="my-5 py-5">
  <div class="container">
    <div class="text-center mb-4 col-md-8 mx-auto">
      <h2 class="display-5">Finally, I write.</h2>
      <p class="lead">
        Words are the most powerful weapon we have. I write both fiction and non-fiction, as
        well as the occasional essay. It's all yours to download.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row flex justify-content-center">
      <% data.writing.projects.each do |project| %>
        <div class="col-md-6">
          <div class="card my-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title font-weight-bold">
                  <%= project.name %>
                  <a href="/publications/<%= project.slug %>.pdf">
                    <i class="fas fa-file-pdf fa-fw"></i>
                  </a>
                </h5>

                <% if project.wip %>
                  <div>
                    <span class="badge badge-warning">WIP</span>
                  </div>
                <% end %>
              </div>

              <p class="card-text">
                <%= project.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container text-center mt-4">
    <div>
      <small>Or, this is where I keep the technical stuff:</small>
    </div>
    <div class="mt-1">
      <a href="https://medium.com/@aldesantis" class="btn btn-lg btn-outline-dark">
        <i class="fab fa-medium"></i>
        medium.com/@<%= data.social.medium %>
      </a>
    </div>
  </div>
</div>
